extends ./layout.pug

block content

    h5 Website Speed Guide
    p To help improve your webpage's performance, we would like you to have a look here - &nbsp;
      a(href='https://www.quicksprout.com/website-speed/') Speed Guide
